

	body {
            margin: 0;
            background-color: #0B0C10;
        }
    #vibbar {
			background-color: #0B0C10;
			height: 75px;  
		}
        section:after {
        	content: "";
        	display: table;
        	clear:both;
        	border-radius: 30px;
            margin: 2px;
        }
        article {
        	float: left;
        	background-color: #1F2833;
            background: radial-gradient(circle, rgba(31,40,51,1) 45%, rgba(2,0,6,1) 100%);
        	height: 620px;
        	width: 50%;
        	border-radius: 20px;
          	box-shadow: inset 0px 0px 20px 10px rgba(0.2,0.1,0,0.6);
        }
        nav {
        	float: left;
        	background-color: #1F2833;
        	height: 620px;
        	width: 50%;
        	border-radius: 20px;
            
            

        }